
* {
  margin: 0;
  box-sizing: border-box;
}

.center {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: 'technoid';
    src: url('/assets/fonts/TECHNOID.TTF');
}

@font-face {
    font-family: 'terminal';
    src: url('/assets/fonts/Terminal\ F4.ttf');
}
/*
    NAVBAR
*/
.topnav {
    margin-top: 3vh;
    font-family: technoid;
    font-size: 2.5rem;
    padding: 0;
}
.topnav ul {
    display: flex;
    list-style: none;
}
.topnav li {
    color: #effafa;
    padding: 10px;
}

.topnav a {
    text-decoration-line: none;
    color: #effafa;
    transition: all 0.2s ease;
}

.topnav a:hover {
    color: #e624af;
}

/*
    BODY
*/
body {
    margin: 0;
    background-color: #0e0e0e;
}

.content {
    display: block;
    padding: 10px;
    min-height: 200px;
    border: 2px solid #e624af;
    margin-top: 5vh;
    color: #effafa;
    min-width: 1000px;
    font-family: terminal;
}

.content h2 {
    color: #8888888a;
}

.content a {
    font-size: 1.1em;
    color: #e624af;
}

.artcontent {
    color: #e624af;
    min-height: 200px;
    margin-top: 30px;
    min-width: 1000px;
    max-width: 1000px;
    text-align: center;
}

/*
    FOOTER
*/

.footer {
    font-family: terminal;
    color: #effafa;
    margin-top: 5vh;
    text-align: center;
}
